.notice-setting-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  gap: 10px;
  margin: 25px 25px;

  .notice-title {
    font-weight: 550;
  }
}

.notice-card {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 18px;
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.1s ease;
  &:hover {
    box-shadow: 0 10px 15px 4px #b6d2f854;
    border: 2px solid #87bbff58;
  }

  .notice-card-header {
    margin-bottom: 12px;

    .notice-card-edit {
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      color: #4a4a4a;

      &:hover {
        background: #f8f9fb;
        color: #111;
      }
    }
  }

  .notice-card-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;

    .tag {
      padding: 4px 10px;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      background: linear-gradient(100deg, #50afcf 0%, #3b77d08f 100%);
    }
  }

  .notice-card-link {
    display: block;
    font-size: 14px;
    color: #3498db;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .notice-contour {
    border-top: 1px solid #e6e7ee;
    margin: 10px 0 17px 0;
  }

  .notice-card-channel {
    margin-bottom: 15px;
    color: #777;
    .channel {
      font-size: 12px;
      padding: 3px 10px;
      border-radius: 10px;
      font-weight: 600;
      border: 0.7px solid #dcdcdc;
      margin-left: 5px;

      &.kakao {
        background: #fffee3;
        color: #000;
      }

      &.discord {
        background: #ecedff;
        color: #000;
      }
    }
  }
  .notice-card-date {
    color: #777;
    .time-icon {
      margin-top: 1px;
      padding-right: 5px;
    }
  }
}
