.recent-notice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  gap: 10px;
  margin-top: 25px;

  .recent-notice-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 550;
    margin-bottom: 8px;
  }
}

.recent-notice-content {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 7px 5px 1px #d3d3d35e;
  }

  .recent-notice-header {
    font-weight: 500;
    align-items: center;
  }
  .recent-new {
    padding: 3px 10px;
    border-radius: 30px;
    background-color: rgb(241, 54, 54);
    color: #fff;
    margin-left: 8px;
  }
  .recent-tag {
    padding: 2px 8px;
    border-radius: 25px;
    border: 1px solid #dadada;
  }

  .recent-notice-message {
    margin-top: 17px;
    color: #777;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;

    &.collapsed {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &.expanded {
      display: block;
    }
  }

  .recent-contour {
    border-top: 1px solid #e6e7ee;
    margin: 17px 0;
  }
}
.recent-detail {
  padding: 10px 0;
  color: #777;
  .time-icon {
    margin-top: 1px;
    padding-right: 5px;
  }
  .recent-source {
    margin-left: 10px;
  }
  .recent-more {
    margin-left: -10px;
  }
}

.gobtn {
  color: #333;
  text-decoration: none;
  padding: 6px 12px;
}
